.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;    
}

.dialogsItems {
    padding: 10px;       
}

.dialogsItems div {    
    margin-bottom: 5px;    
}

.dialogsItems .active {
    color: gold;    
}

.messages {
    padding: 10px;
}

.message {
    color: rgb(15, 17, 148);
    margin-top: 22px;
}

.avatar {
    width: 25px;
    height: 35px;
}

.dialogs span {
    padding: 10px;
}

.dialogs img {
    width: 25px;
    height: 35px;
}

.blockTextarea {
    padding-left: 10px;
}